body {
    font-family: 'Roboto';
    margin: 30px;
    background-color:#edf7fe;
}

#content {
    
}

#content-boxed {
    padding: 30px 30px;
    border-radius: 10px;
    background-color: #ffffff;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
  }

.box {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
    height: 320px;
    //border: 2px solid green;
  }

.box-item {
    padding: 10px;;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 260px;
    height: 260px;
    background-color: #edf7fe;
    border-radius: 5%;
  }

.box-item-icon i {
    margin-bottom: 30px;
}

.box-item-title {
    display: flex;
    align-items: center;
    justify-content: center;
    //flex-direction: column;
    margin: 0 10px;
    width: 260px;
    height: 40px;
    font-size: 35px;

}

.box-item-title p {
    margin: 10px auto;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }

a:hover {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }